body {
    font-size: 16px;
    margin: 1.75em 0;
    background-color: #454545;
    color: #fff;
}

.relay {
    display: inline-block;
    position: relative;
    width: 50%;
}

.control {
    display: inline-block;
    position:relative;
    width: 50%;
}
strong {
    display: inline-block;
    width: 50%;
    text-align: center;
}

select {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: #666;
    color: white;
    outline-color: #0E88B2;
    border-radius: 1px;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
    border: none;
    width: 50%;
}